/* font-family: 'Kalam', cursive;
font-family: 'M PLUS 1p', sans-serif; - h1
font-family: 'Mulish', sans-serif;
font-family: 'Signika Negative', sans-serif; */


*,  
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



body, p {
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  background-color: #f0f3f5;
  color: #41463d;
  
}

h1 {
  font-size: 3.556rem;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 900;
  color: #a18276;
  padding: 0px;
  padding-bottom: 1.67rem;
  padding-top: 2.78rem;
}


h1::first-letter {
  color: #D7C9AA;
}

ul {

}

li {
}

h2 {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  color: #41463D;
  font-size: 3.25rem;
  margin: 0px;
}

h3 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  color: #41463D;
  letter-spacing: .05em;
  text-align: center;
}

span {
  text-transform: italic;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

a {
  text-transform: uppercase;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #41463d;
}

hr {
  display: flex;
  height: 1px;
  border: 0;

  padding: 0;
  background-color: white;
  width: 50%;
  text-align: center;
  justify-content: center;
}

/* This is where I start my grid layout */

#flex-container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  height: auto;
  padding-left: 6.94rem;
  padding-right: 6.94rem;
  padding-bottom: 4.33rem;
  gap: 1.5rem 2rem;
}
  

.nav {
  width: 100%;
  min-width: 17.78rem;
  height: auto;
  padding-bottom: 4.33rem;
  flex-flow: wrap;
}



.logo {
    display: flex;
    min-width: 16.67rem;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
  gap: 20px;
}



.nav li {
 display: flex;

}

.banner {
  display: flex;
  height: auto;
  max-width: 100%;
  justify-content: center;
}

.banner img {
  max-width: 100%;
  min-width: 17.78rem;
  height: auto;
  border: .556rem solid white;
  margin: 4.167rem 0px;
}

.centerline {
  display: flex;
  width: 50%;
  margin-bottom: 4.167rem;
  justify-content: center;
}

.quotebox {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 4.167rem 0px;
}



.big-quote {
  display: flex;
  max-width: 50%;
  flex: 0 0 50%;
}


.small-quote {
  display: flex;
  max-width: 50%;
  line-height: 2.22rem;
  flex: 0 0 50%;
  flex-flow: row wrap;
  
}


.quotebox div:nth-child(1) {
  
}

.quotebox div:nth-child(2) {
  
}


button {
  border: none;
  color: #41463D;
  background-color: white;
  padding: 1.56rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: .50em;
  margin: 1.56rem .278rem;
  font-size: 1rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  cursor: pointer;
  letter-spacing: .175rem;
}



.btn1 {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
}

.btn2 {
  display: flex;
  position: relative;
  right: 3.5rem;
  align-items: right;
  justify-content: end;
  width: 100%;
  margin: .278rem .111rem;
}

.special-call {
  display: flex;
  width: 100%;
  flex-wrap: row wrap;
  justify-content: center;
}

.special-call h3 {
  align-self: start;
  flex-flow: 0 0 50%;
}

.special-call img {
  width: 20%;
  height: auto;
  align-self: end;
  flex-flow: 0 0 50%;
}
  
.btn2 {
    padding: 1rem 1rem;
    font-size: .75rem;

  }


.img-container {
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  margin: 1.5rem;
  margin-bottom: 4.167rem;
}


.img-selector {
  display: flex;
  height: auto;
  width: 30%;
  justify-content: center;
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border: .389rem solid white;
}

.clearfix {
  clear: both;
}


.hr-div {
  display: flex;
  justify-content: center;
}

.txt1, .txt2, .txt3 {
  display: flex;
  flex-direction: row wrap;
  width: 33%;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: .125rem;
  justify-content: space-around;
  margin: 10px 0px;
}




footer {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  background-color: #D7C9AA;
  color: #41463D;
  max-height: 16.67rem;
  margin: 0px;
  padding-top: 6.94rem;
  padding-left: 4.167rem;
  padding-right: 6.94rem;
  padding-bottom: 4.167rem;
}

footer ul {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 5.33rem;
}

footer li {
  
}

/* THIS IS WHERE MEDIA QUERIES AND CONFUSION STARTS*/

@media only screen and (max-width: 900px) {
  #flex-container {
    padding: 0;
    
  }

  .nav {
    padding: 1rem;
  }

  .nav ul {
    justify-content: center;
    align-items: stretch;
  }


  .banner img {
    width: 100%;
    border: 0px solid;
  }

  .arrow-svg {
    display: none;
  }
  .btn2 {
    position: inherit;
    justify-content: center;
  }

  
  .img-container {
    display: flex;
    gap: 5rem;
    width: inherit;
  }

  .img1, .img2, .img3 {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 30%;
    justify-content: center;
  }
  
  .img-container img{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    border: .389rem solid white;
  }

}


@media only screen and (min-width:320px) and (max-width:750px) , (orientation: portrait) {
  .quotebox {
      display: flex; 
      flex-flow: column wrap;
      text-align: center; 
      width: 100%; 
      
  }

  .big-quote {
      display: flex;
      min-width: 100%;
      flex: 1 1 100%;
    }
    
    
    .small-quote {
      display: flex;
      min-width: 100%;
      line-height: 2.22rem;
      flex-flow: 1 1 100%;
      
    }


   /* @media only screen and (min-width:320px) and (max-width:750px) , (orientation: portrait) {
      .nav {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
  
      }
      .nav ul {
          display: flex; 
          text-align: center; 
          width: 100%; 
          flex-flow: 1 1 100%;
      }
  
      .nav li {
          display: flex; 
          text-align: center; 
          width: 100%; 
          flex-flow: 0 0 100%;
      }
    }
}*/

